/*this is only for the livePreview*/
.html-title {
    color: var(--color-content-brand-primary, #3D74B4);
    font-family: var(--font-product-font-family, "Noto Sans Display");
    font-size: var(--font-product-title-medium-size, 12px);
    font-style: normal;
    font-weight: var(--font-product-title-medium-600, 600);
    line-height: normal;
    text-transform: uppercase;
  }
  
  .html-list {
    margin-top: var(--spacing-margin-100, 8px);
    margin-bottom: var(--spacing-margin-300, 24px);
    list-style: inside;
    list-style-type: auto;
    font-size: 16px;
    color: #383838;
  }
  
  .html-list ol,
  .html-list ul {
    margin-left: var(--spacing-margin-200, 16px);
    padding-left: var(--spacing-margin-200, 16px);
  }
  
  .html-list ol {
    list-style-type: decimal;
    margin-left: var(--spacing-margin-200, 16px);
    padding-left: var(--spacing-margin-200, 16px);
  }
    
  .html-list ol[type="a"] {
    list-style-type: lower-alpha; 
  }
    
  .html-list ol[type="i"] {
    list-style-type: lower-roman;
  }
  
  .html-list ol[type="1"] {
    list-style-type: decimal !important;
  }
    
  .html-list ul {
    list-style-type: disc; 
    margin-left:  var(--spacing-margin-200, 16px);
    padding-left: var(--spacing-margin-200, 16px);;
  }